@import "tailwindcss";
@import "flowbite/src/themes/default";

* {
  box-sizing: border-box;
}
html {
  color: white;
  background-image: linear-gradient(
    to bottom left,
    rgb(24, 23, 23),
    rgba(0, 255, 0, 0.453)
  ); /* Degradado semitransparente */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
